<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      Welcome to Super Snippets!
    </h1>
    <p>
      Here you can register and store your code snippets, or browse other people's snippets.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="/user/register" role="button">
        Register now »
      </a>
    </p>
  </div>
</div>

<!-- /container -->